body {
    padding: 16px;
}

h1 {
    font-size: 2em;
    color: green;
}

p {
    border-color: brown;
    padding: 16px;
}

.fav {
    height: 16px;
    width: 16px;
    border-color: red;
}

.mark {
    background-color: red;
}

.img-div {
    display: inline-block;
    height: 400px;
    width: 400px;
    padding: 20px;
}

a {
    text-decoration: none;
}